* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 82vw;
    height: 94vh
}

.container-flex {
    display: flex;
}

.navbar {
    width: auto;
    height:2vh;
    padding: 2vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
}

.navbar h3 {
    color: red;
}

.navbar button {
    margin-left: 10px;
    padding: 10px;
}


.control-window {
    height: 92vh;
    width: 16vw;
    text-align: center;
    padding: 1vh 1vw 1vw 1vh;
    border: 1px solid rgb(184, 184, 184);
    border-top: 0;
}

.node-css {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: auto;
    margin: 20px;
    font-weight: 500;
    border: 2px solid rgb(43, 142, 254);
    color: rgb(43, 142, 254);
    border-radius: 4px;
}

.text-message-box {
    width: 100px;
    height: auto;
    overflow:auto;
    padding: 10px;
    font-size: small;
    background-color: rgb(235, 235, 235);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.text-message-box-text {
    font-size: 8px;
    margin-top: 5px;
}

.text-message-box-title {
    color: green;
}

.text-message-menu {
    margin: 10px;

}
.text-message-menu input{
    margin-top: 3vh;
    width: 80%
}

.text-message-menu textarea {
    width: 100%;
    height: 8vh;
}

.text-message-menu-header {
    display: flex;
    display: row;
}